$black: #000;
$white: #fff;
$white-blue: #f1fcff;

$main-brand: #2196f3;
$main-brand-hover: $white-blue;

$color-main-text: #4a4a4a;
$color-description-text: #a0b0b9;

$checkbox-border: #9abbce;
$button-border: #dfe5ec;
$bgc-body: $white-blue;

$media-screen-after-min-mobile: 471px;
$media-screen-table: 725px;
