@use '@/styles/variables.scss' as var;

.ticket-card {
  display: block;
  width: 100%;
  padding: 20px;
  border-width: 0;
  border-radius: 5px;
  background-color: var.$white;
  box-shadow: 0 2px 8px 0 rgba(var.$black, 0.1);
  text-align: left;
  font-weight: inherit;
  color: inherit;
  cursor: pointer;
  transition: box-shadow 0.4s;

  &:hover {
    box-shadow: 0 2px 8px 10px rgba(var.$main-brand, 0.1);
  }

  & + .ticket-card {
    margin-top: 20px;
  }
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-size: 24px;
  line-height: 24px;
  color: var.$main-brand;
}

.carrier {
  width: 99px;
  height: 36px;
}

.description {
  margin-top: 20px;
}

.line {
  display: flex;

  & + .line {
    margin-top: 10px;
  }
}

.column {
  flex-basis: 33.3%;
  display: flex;
  flex-direction: column;
}

.column-title {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: var.$color-description-text;
}

.column-value {
  line-height: 21px;
}
